<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<title>Testing</title>
		<script
			src="https://unpkg.com/htmx.org@2.0.4"
			integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
			crossorigin="anonymous"
		></script>

		<link
			href="css/output.css"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- <link -->
		<!-- 	href="app.css" -->
		<!-- 	rel="stylesheet" -->
		<!-- /> -->
	</head>
	<body class="h-screen w-screen bg-white">
		<h1 class="">{{ "Hello World!" }} {{ .name }}</h1>
	</body>
</html>
